header {
    font-family: acumin-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.cardtitle {
    font-family: apolline, serif;
    font-weight: 800;
    font-style: normal;
    font-size: 100px;
}

.cardbody {
    font-family: acumin-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px
}

.footcopy {
    font-family: acumin-pro, sans-serif;
    font-weight: 200;
    font-style: normal; 
}

.footlist {
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.bookform {
    font-family: acumin-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

.formterms {
    font-family: acumin-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

.formname {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;

}

.menu_title {
    font-family: apolline, serif;
    font-weight: 800;
    font-style: italic;
    font-size: 65px;
}

.menu_body {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}